
body{
    margin: 0;
}
.container{
    background-color: peru;
    padding: 1px;
    width: 100vw;
    height: 100vh;
    /* position: relative;
     */
     /* float: left; */
}
.partation{
    /* padding: 8px; */
    background-color: cornflowerblue;
    height: 100vh;
    width: 33.33%;
    float: left;
    /* position: absolute; */
}
.partation:nth-child(1){
    background-color: red;
    /* float: left; */
    left: 33vw;
}
.partation:nth-child(2){
    background-color: blueviolet;
    /* left: 66vw; */
    
}
.partation:nth-child(3){
    
    background-color: yellow;
    /* float: right; */

}